#root {
    background-color: white;
    color: black;
}

.page {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-display: block;
    font-family: "Lab Mono";
    src: url("https://type.cargo.site/files/LabMono-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    unicode-range: U+0000-DFFF, U+F900-FFFD;
}

.projectCollectionInside {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 30%;
}

.mainPhoto {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
}
  
.singularPhoto {
    height: auto;
    width: 100%;
    max-width: 20rem;
}

.infoAndParagraph {
    display: flex;
    margin-top: 3rem;
    gap: 6rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 20%;
    max-width: 100%;
}

.infoTitle {
    font-family: "Lab Mono";
    font-size: 1.5rem;
}

.infoFullText {
    display: flex;
    flex-direction: column;
    font-family: "Lab Mono";
    font-size: 1rem;
}

.projectParagraph {
    font-family: "Lab Mono";
    font-size: 1rem;
    word-wrap: break-word;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .mainPhoto {
        gap: 1rem;
    }

    .projectCollectionInside {
        align-items: center;
        width: 100%;   
        margin: 0rem 0.5rem 0rem 0.5rem;
    }

    .singularPhoto {
        max-width: 28%;
    }

    .infoAndParagraph {
        flex-direction: column;
        width: 100%;
    }

    .infoFullText, .projectParagraph {
        font-size: 0.8rem;
    } 
  }